body{
	background: black
}


@keyframes heartUp {
  0% {
    opacity: 0.4;

	}
  100% {
    opacity: 1;
  }
}
.st0{fill:none;stroke:#9E0000;stroke-width:2;stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:20;
	stroke-dasharray:0,6;
	animation: heartUp 1s alternate infinite;

}

.st1{fill:none;stroke:#FFFFFF;stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,6;
	animation: heartUp 1s alternate infinite;

}

.st2{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st3{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st4{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st5{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st6{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st7{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st8{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st9{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st10{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st11{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st12{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st13{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st14{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st15{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st16{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st17{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st18{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st19{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st20{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st21{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1297ms alternate infinite;
	animation-delay: 1070ms;

}
.st22{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;
	 animation: heartUp 1904ms alternate infinite;
	animation-delay: 1970ms;

}
.st22{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	 animation: heartUp 1804ms alternate infinite;
	animation-delay: 1940ms;

}
.st23{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	 animation: heartUp 1704ms alternate infinite;
	animation-delay: 1240ms;

}
.st24{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	 animation: heartUp 1504ms alternate infinite;
	animation-delay: 1240ms;

}
.st25{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	    animation: heartUp 1202ms alternate infinite;
  	 animation: heartUp 1804ms alternate infinite;
	animation-delay: 1840ms;


}
.st26{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1630ms alternate infinite;
	animation-delay:887ms;

}
.st27{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1830ms alternate infinite;
	    animation-delay: 1890ms;
}
.st28{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1024ms alternate infinite;
	animation-delay: 1240ms;
}
.st29{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1900ms alternate infinite;
	animation-delay: 1240ms;

}
.st30{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}
.st31{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1904ms alternate infinite;
	animation-delay: 1970ms;

}
.st32{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1904ms alternate infinite;
	animation-delay: 1970ms;

}
.st33{fill:none;
	stroke:#FFFFFF;
	stroke-width:2;
	stroke-linecap:round;stroke-linejoin:round;
	stroke-miterlimit:10;stroke-dasharray:0,5;
	animation-direction: reverse;
	animation: heartUp 1s alternate infinite;

}







